# Xcode
#
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

*.lo
*.o
*.la
config.*
.deps
.libs

# http://www.gnu.org/software/automake

Makefile.in
CMakeCache.txt
CMakeFiles
Makefile
libtool
cmake_install.cmake
install_manifest.txt

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/config
/configure
/depcomp
/install-sh
/missing
/stamp-h1

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
#Pods/
